

<!-- barra superior -->
	<ul id="main-nav-items" class="d-none d-md-flex">
	<div class="css-1nuilh8 force-visible"> <!-- Agregar este contenedor -->
	
<li id="InfoQuienesSomos-Barra" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
<a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" data-click-key="front_page.front_page_story.click.navigation_meta_nav_Government" data-click-value='{"href":"","namespace":{"action":"click","app":"front_page","component":"navigation_meta_nav_Government","page":"front_page_story"},"schema_type":"FRONTEND"}' data-track="true" data-track-action="click" data-track-app="front_page" data-track-component="navigation_meta_nav_Government" data-track-href="" data-track-page="front_page_story" 
href="#quienes-somos" to="">
<span>
<span class="forStyle css-1rkctw9">Quienes Somos</span>
</span></a>
</li>

<li id="InfoEnvios-Barra" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
<a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" data-click-key="front_page.front_page_story.click.navigation_meta_nav_Business" data-click-value='{"href":"","namespace":{"action":"click","app":"front_page","component":"navigation_meta_nav_Business","page":"front_page_story"},"schema_type":"FRONTEND"}' data-track="true" data-track-action="click" data-track-app="front_page" data-track-component="navigation_meta_nav_Business" data-track-href="" data-track-page="front_page_story" href="#informacion-envios">
<span>
<span class="forStyle css-1rkctw9">Como Comprar/Entrega</span>
</span></a>
</li>

<li id="InfoFormasPago-Barra" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
<a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" data-click-key="front_page.front_page_story.click.navigation_meta_nav_Campus" data-click-value='{"href":"","namespace":{"action":"click","app":"front_page","component":"navigation_meta_nav_Campus","page":"front_page_story"},"schema_type":"FRONTEND"}' data-track="true" data-track-action="click" data-track-app="front_page" data-track-component="navigation_meta_nav_Campus" data-track-href="" data-track-page="front_page_story" href="#formas-pago" to="">
<span>
<span class="forStyle css-1rkctw9">Formas de Pago</span>
</span></a>
</li>

<li id="InfoContacto-Barra" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
<a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" data-click-key="front_page.front_page_story.click.navigation_meta_nav_Government" data-click-value='{"href":"","namespace":{"action":"click","app":"front_page","component":"navigation_meta_nav_Government","page":"front_page_story"},"schema_type":"FRONTEND"}' data-track="true" data-track-action="click" data-track-app="front_page" data-track-component="navigation_meta_nav_Government" data-track-href="" data-track-page="front_page_story" href="#Contacto" to="">
<span>
<span class="forStyle css-1rkctw9">Contacto</span>
</span></a>
</li>

<li id="SubirInicio" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
<a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" data-click-key="front_page.front_page_story.click.navigation_meta_nav_Government" data-click-value='{"href":"","namespace":{"action":"click","app":"front_page","component":"navigation_meta_nav_Government","page":"front_page_story"},"schema_type":"FRONTEND"}' data-track="true" data-track-action="click" data-track-app="front_page" data-track-component="navigation_meta_nav_Government" data-track-href="" data-track-page="front_page_story" 
href="#inicio">
<span>
<span class="forStyle css-1rkctw9">Subir al Inicio</span>
</span></a>
</li>

<li  id="MenuPrincipal" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
<a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" data-click-key="front_page.front_page_story.click.navigation_meta_nav_Government" data-click-value='{"href":"","namespace":{"action":"click","app":"front_page","component":"navigation_meta_nav_Government","page":"front_page_story"},"schema_type":"FRONTEND"}' data-track="true" data-track-action="click" data-track-app="front_page" data-track-component="navigation_meta_nav_Government" data-track-href="" data-track-page="front_page_story" 
href="../../index.html">
<span>
<span class="forStyle css-1rkctw9">Ir a Menú Principal</span>
</span></a>
</li>


</div>
</ul>
<!-- barra superior -->

<!-- Menú lateral (mobile) -->
<nav class="side-menu d-block d-md-none">
  <label for="menu-toggle" class="close-btn">&times;</label>
  <ul id="mobile-clone"></ul>
</nav>